.container{
  max-width: 95%;
  margin: 0 auto;
}
.cards {
  // background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  // width: 100px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  a{
    color: #000;
    display: flex;
    p{
      font-size: 40px;
      font-weight: 900;
    }
  }
 
  i{
    font-size: 70px;
    padding-right: 20px;
  }
}


.slider1,
.slider5{
  background-color: #FFC20E ;
  color: #000;
}
.table{
}
.slider2,
.slider6,
.slider5{
  background-color: #253D90 ;
  a{
    color: #fff !important;
  }
}
.slider3,
.slider7{
  background-color: #3F861E ;
  a{

    color: #fff !important;
  }
}
.slider4{
  background-color: black;
  a{

    color: #fff;
  }
}
.content{
  .dashboardtableemployees{
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    gap: 30px;
    padding: 30px;
    display: flex;justify-content: space;align-items: left;flex-direction: column;
    .dte{
      display: flex;justify-content: space-between;align-items: left;
      width: 100%   ;
      
      .paidorno{
        height: 10px;
        width: 100px;
        background-color: green;
        border-radius: 20px;
        margin-left: 40px;
      }
    }
  }
}