.go_home{
  background-color: black;
  color: white;
  border: 1px solid black;
  height: 60px;
  width: 150px;
  border-radius: 20px;
  font-size: 20px;
 

}
.notfound{
  display: flex;
  justify-content: center;
  align-items: center;

img{
  position: relative;
  
}
}
.buttonnn{
padding-top:700px ;
  position: absolute;

}