.flex_Reg {
  display: flex;
}
.register {
  height: 100vh;

  .rightImage {
    background-image: linear-gradient(0deg, #192f78c3 0%, #192f78c3 100%),
      url("/assets/image/istockphoto-1140300365-612x612\ 1.png");
    position: relative;
    background-size: cover;
    background-position: center;
    flex: 1 1 40%;

    .imageHeading {
      color: #fff;
      text-align: center;
      margin-top: 140px;
    }
    .line {
      margin-top: 10px;
      width: 200px;
      height: 13px;
      border-radius: 999px;
      background-color: #fff;
      margin: 20px auto;
    }
    .imageSubtext {
      color: #fff;
      margin-top: 20px;
      text-align: center;
      margin-top: 40px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 40px;
      button {
        font-size: 16px;
        padding-inline: 40px;
        padding-block: 15px;
        background-color: #ffc20e;
        font-weight: 600;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }
      .transarent {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
  .leftForm {
    margin-top: 80px;
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    .form_Heading {
      font-size: 16px;
      color: #192f78;
      margin-top: 40px;
      margin-left: 40px;
    }
    .form-Subtext {
      margin-left: 40px;
      margin-top: 20px;
      color: #868e96;
    }
    form {
      margin-left: 40px;
      margin-top: 40px;
      .inputBoxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-inline-end: 20px;
        .formBox {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          width: 100%;
          label {
            margin-bottom: 10px;
            color: #192f78;
            font-weight: 600;
          }
          input {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #ccc;
            outline: none;
            font-size: 16px;
          }
        }
      }
      .checkbox {
        margin-top: 10px;
      }
      .button {
        margin-block: 20px 10px;
        button {
          padding: 10px 40px;
          font-size: 13px;
          background-color: #192f78;
          color: #fff;
          font-weight: 600;
          border-radius: 10px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .flex_Reg {
    display: flex;
    flex-direction: column;
  }
}
